
param "token" {
  # Put your TFE_TOKEN here
  #
  # (Ideally I'd have this pulled automatically when running the tests, but I
  # haven't figured out how to do that yet)
  
  value = ""
}

param "org" {
  # Here is my TFC org. When running tests, I'll have a workspace deployed which
  # contains a VPC, but its CIDR range will not overlap with my CIDR range

  value = "fancycorp"
}

param "cidr" {
  # For this test policy, we pass in a CIDR range as an input, for easy testing
  # Practically... this should come from a resource in our TF Plan

  value = "192.168.0.0/24"
}

test {
  rules = {
    main = true
  }
}
